
body{
 background-color: #c5d5cb;
 color: white;
 margin: 10px;
}

.frontbox{
 width: 30%;
 height: 40%;
 margin: 5px;
 display: inline-block;
 background-color: grey;
}

.myname{
 width: 30%;
 height: 40%;
 display: inline-block;
}
