body {
 font-family: 'Raleway', sans-serif;
font-family: 'Nixie One', cursive;
font-family: 'Slabo 27px', serif;
}

.container {
 display: -webkit-flexbox;
 flex-flow: row wrap;
 display: flex;
 width= 100%;
}

.title .nav .main {
  flex: 1 100%;
}

.nav {
 display: flex;
 width: 200px;
 height: 800px;
 background-color: yellow;
 
}

.title{
 
}

.main {
 display: flex;
 text-align: center;
 width: 800px;
 height: 200px;
}

